{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <section id="blog" class="white">
                <div class="container">
                    <div class="center gap fade-down section-heading">
                   		<div class="gap"></div>
                        <h2 class="main-title">What Time Introduce</h2>
                        <hr>
                        <p>WhatTime 서비스는 간결한 스케쥴 등록으로 참가한 모임내 사용자들의 공강 시간을 빠르게 파악하는데 도움을 주는 서비스입니다.</p>
                    </div>  
                    <div class="gap"></div>
                    <div class="row">
	                    <div class="col-md-4">
	                        <div class="post">
	                            <div class="post-img-content">
	                                <div class="overlay">
	                                    <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>          
	                                </div>
	                            </div>
	                            <div class="content">
	                                <h2 class="post-title">1. 스케쥴</h2>
									<hr>
	                                <div>
	                                    &nbsp;상단 이메일 클릭시 설정으로 갈 수 있는 버튼이 드롭됩니다. 
                                        설정창을 클릭 후 자신의 스케쥴을 설정하면 모임에 참여할 준비가 완료됩니다.
                                        <br>&nbsp;이제 모임에 참여한다면 모임에 가입된 모든 유저의 스케쥴을 종합해 자동으로 
                                        공강 시간대를 알려줍니다!<br/><br/><br/>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-md-4">
	                        <div class="post">
	                            <div class="post-img-content">
	                                <div class="overlay">
	                                    <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>          
	                                </div>
	                            </div>
	                            <div class="content">
	                                <h2 class="post-title">2. 모임</h2>
									<hr>
	                                <div>
	                                    &nbsp; WhatTime서비스는 모임을 개설하여 원하는 유저들과 스케쥴링을 할 수 있습니다.
                                        모임을 개설한다면 간단한 패스워드 입력과 제목을 입력한 후 진행 가능합니다.
                                        <br/>&nbsp;다른 유저들에게 제목과 비밀번호를 공유하여 원하는 유저들끼리 모임을 가질 수 있습니다.
                                        <br/><br/><br/>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-md-4">
	                        <div class="post">
	                            <div class="post-img-content">
	                                <div class="overlay">
	                                    <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>          
	                                </div>
	                            </div>
	                            <div class="content">
	                                <h2 class="post-title">3. 공강 확인</h2>
									<hr>
	                                <div>
	                                    &nbsp; 모임에 가입된 유저들의 스케쥴 정보를 통해서 공강 시간대를 확인해 줍니다.
                                        캘린더를 통해서 직관적으로 보여주며 텍스트를 통해서도 공강 시간대를 알려줍니다.
                                        &nbsp; 또한 공강 시간대가 모두 맞지 않는 최악의 상황이 온다면 가장 안겹치는 시간대를 
                                        조율순위를통해서 제공해줍니다.
                                        &nbsp; 모임에 가입된 유저중 스케쥴 설정을 하지 않은 유저의 이메일을 알려줍니다.
	                                </div>
	                            </div>
	                        </div>
	                    </div>
                    </div> 
                    <div class="gap"></div>                       
                </div>
       		</section>
</div>
{% endblock content %}

