{% extends 'base.html' %}
{% load static %}

{% block style %}
    <style type="text/css">
        .menu_custom{
            font-weight: 550;
            font-family: Lato, sans-serif;
        }

    .login-clean form {
      max-width: 320px;
      width: 90%;
      margin : 0 auto;
      background-color:inherit;
      padding: 40px;
      border-radius: 4px;
      color:#505e6c;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.1);

    }

    .login-clean .illustration {
      text-align: center;
      padding: 0 0 20px;
      font-size: 100px;
      
    }

    .sr-only{
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0,0,0,0);
      white-space: nowrap;
      border:0;
    }

    .login-clean form .form-control {
      background: #f7f9fc;
      border: none;
      border-bottom : 1px solid #dfe7f1;
      border-radius: 0;
      box-shadow: none;
      outline: none;
      color: inherit;
      text-indent: 8px;
      height: 42px;
    }

    .login-clean form .forgot:hover, .login-clean form .forgot:active{
      opacity: 1;
      text-decoration: none;
    }
  </style>
{% endblock style %}


{% block content %}
<div id="content-wrapper">
    <section id="services" class="white">
        <div class="container">
            <div class="gap"></div> 
            <div class="row">
                <div class="col-md-12">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">SETTINGS</h2>
                        <hr>
                        <p>현재 비밀번호와 변경하고 싶은 비밀번호를 입력하세요.</p>
                    </div>                
                </div>
            </div><!--/.row-->
            <div class="row fade-down">
                <!-- 환경 설정 탭 -->
                <div class="setting-menu container mb-2">
                <!-- 환경 설정 목록 -->
                    <ul class="setting__tabs nav nav-tabs mx-2 mx-md-3 mx-lg-4 px-2 px-md-3 px-lg-4">
                        <!-- 회원 정보 수정 -->
                        <li class="setting__menu nav-item">
                            <a class="nav-link active menu_custom" href="{% url 'settings' %}">비밀번호</a>
                        </li>
                        <!-- 꾸미기 -->
                        <li class="setting__menu nav-item">
                            <a class="nav-link menu_custom" href="{% url 'settings' %}">스케쥴</a>
                        </li>
                        <!-- 회원 탈퇴 -->
                        <li class="setting__menu nav-item">
                            <a class="nav-link menu_custom" href="{% url 'destroy' user.id %}">탈퇴</a>
                        </li>
                    </ul>
                </div><!--/.setting-menu-->   
            </div><!--/.row-->
            
            <div class="row fade-down"><!--start content-->
                <div class="gap"></div>
                
                <div class="panel panel-default" style="width:80%; margin-left:auto; margin-right:auto";>
                <!--회원가입 시작-->
        <div class="login-clean">
          <!--회원가입 폼 시작-->
          <form method="POST" style="margin-top:10px;">
            {% csrf_token %}
                {{form}}
                <br>
                <button class="btn btn-dark col-8" type="submit" style="background-color:#343a40; color:#fff; width:50%; float:right" url="{% url 'destroy' user.id %}">변경</button>
          </form>
          <br>
          <!--회원가입 폼 끝-->
        </div>
        <!--회원가입 영역 끝-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section>
</div>
  <!-- // 환경 설정 탭 -->
{% endblock content %}