{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
  .login-clean form {
    max-width: 320px;
    width: 90%;
    margin : 0 auto;
    background-color:inherit;
    padding: 40px;
    border-radius: 4px;
    color:#505e6c;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);

  }

  .login-clean .illustration {
    text-align: center;
    padding: 0 0 20px;
    font-size: 100px;
    
  }

  .sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border:0;
  }

  .login-clean form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom : 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 8px;
    height: 42px;
  }

  .login-clean form .forgot:hover, .login-clean form .forgot:active{
    opacity: 1;
    text-decoration: none;
  }
</style>
{% endblock style %}
{% block content%}
<div id="content-wrapper">
  <section id="blog" class="white">
    <div class="container">
      <div class="center gap fade-down section-heading">
        <div class="gap"></div>
        <!--회원가입 시작-->
        <div class="login-clean">
          <!--회원가입 폼 시작-->
          <form method="POST">
            {% csrf_token %}
            <h2 class="sr-only">POST FORM</h2>
            <div class="illustater mb-4">
              <h3>POST EDIT</h3>
            </div>
            <div class="form-group">
               {{ form.title }}
            </div>
            <div class="form-group">
              {{ form.password }}
            </div>
            <div class="form-group">
              {{ form.password2 }}
            </div>
              {{ form.non_field_errors }}
            <div class="form-group">
                <a class=" btn btn-default col-4" href="{% url 'post_list' %}" role="button" style="background-color:#6c757d; color:#fff; width:40%">취소</a>
                <button class="btn btn-dark col-8" type="submit" style="background-color:#343a40; color:#fff; width:50%">개설</button>
            </div>
            <a class="forgot" style="font-size:1em"></a>
          </form>
          <!--회원가입 폼 끝-->
        </div>
        <!--회원가입 영역 끝-->
        </div>
      <div class="gap col-md-4"></div>
      <div class="gap"></div> 
    </div>                      
  </section>
</div>
{% endblock %} 
    
    
    <div class="login-clean">
      <form method="POST">
        {% csrf_token %}
        <h2 class="sr-only">Login Form</h2>
        <div class="illustater mb-4">
          <h3>Post Edit</h3>
        </div>
        <div class="form-group">
          {{ form.title }}
        </div>
        <div class="form-group">
          {{ form.password }}
        </div>
        <div class="form-group">
          {{ form.password2 }}
        </div>
          {{ form.non_field_errors }}
        <div class="mt-2 col-12 form-group d-flex justify-content-center float-right">
            <button type="button" class="btn btn-secondary mr-1" url="{% url 'post_list' %}" >취소</button>
            <button class="btn btn-dark btn-block" type="submit">개설</button>
        </div>
        <a class="forgot" style="font-size:1em">저희 WhatTime에서는 정말 간단한 정보입력후 이용하실 수 있습니다.</a>
      </form>
    </div>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>